.DS_Store
gh
githubnext__github-copilot-cli.json
.airtableblocksrc.json
stripe
firebase
configstore
karabiner
.airtableblocksrc.json
tmuxinator
gatsby
iterm2/AppSupport
nvim/plugin/packer_compiled.lua
thefuck/__pycache
*.pyc
